.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(226, 43%, 10%);
  color: white;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
p,
h2,
h3 {
  font-weight: 200;
}
h4 {
  font-weight: 500;
}
p {
  opacity: 0.7;
}
.time-track-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.identity {
  background-color: hsl(235, 46%, 20%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.upper-identity {
  background-color: hsl(246, 80%, 60%);
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
}
.upper-identity img {
  width: 80px;
  height: 80px;
}
.lower-identity {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}
.identity-name p,
.identity-name h2 {
  margin: 0;
}
.time-track-divisions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.division {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.icon-container {
  position: relative;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.icon-container img {
  position: absolute;
  right: 15px;
  top: 0px;
  width: 80px;
}
.text-container {
  position: relative;
  z-index: 2;
  border-radius: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.text-container h2,
.text-container h4,
.text-container p {
  margin: 0px;
}
.right-side,
.left-side {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.right-side h4 {
  position: relative;
  right: -110px;
  top: -15px;
  font-size: 20px;
}

.left-side .in-line {
  display: flex;
  justify-content: space-between;
}
.work {
  background-color: hsl(15, 100%, 70%);
}
.play {
  background-color: hsl(195, 74%, 62%);
}
.study {
  background-color: hsl(348, 100%, 68%);
}
.exercise {
  background-color: hsl(145, 58%, 55%);
}
.social {
  background-color: hsl(264, 64%, 52%);
}
.self-care {
  background-color: hsl(43, 84%, 65%);
}
.text-container {
  background-color: hsl(235, 46%, 20%);
}
@media (min-width: 1200px) {
  body {
    height: 100vh;
    justify-content: center;
  }
  .time-track-container {
    width: 1000px;
    height: 470px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .time-track-divisions {
    display: grid;
    width: 750px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
  }
  .upper-identity {
    height: 320px;
    width: 250px;
    flex-direction: column;
    padding: 0px 30px 30px 30px;
  }
  .upper-identity {
    align-items: start;
  }
  .upper-identity h2 {
    font-size: 40px;
  }
  .lower-identity {
    flex-direction: column;
    align-items: start;
    padding: 30px;
    gap: 15px;
  }
  .lower-identity h4 {
    margin: 0px;
    font-weight: 200;
    opacity: 0.7;
  }
  .text-container {
    height: 200px;
    align-items: start;
    flex-direction: column;
    padding: 0px 30px;
    gap: 10px;
    justify-content: start;
    padding-top: 30px;
  }
  .text-container .right-side {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .text-container .right-side h2 {
    font-size: 3rem;
  }
}
